<main role="main">
  <div class="container mt-3">
    <h2>{{header_text}}</h2>
    <form id="recipe-form" action="/recipe/new" method="post" enctype="multipart/form-data">
      <div id="recipe-main">
        <span id="recipe-id" class="d-none">{{recipe._id}}</span>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="input-recipe-name">Recipe Name</label>
              <input type="text" class="form-control" id="input-recipe-name" name="name" value="{{recipe.name}}">
            </div>
            <div class="form-group">
              <label for="input-servings">Servings</label>
              <input type="number" min="1" class="form-control" id="input-servings" name="servings" value="{{recipe.servings}}">
            </div>
            <div class="form-group">
              <label for="input-description">Description</label>
              <textarea class="form-control" id="input-description" cols="30" rows="5" placeholder="Optional." name="description">{{recipe.description}}</textarea>
            </div>
            <div class="form-group">
              <label for="input-tags">Tags</label>
              <textarea class="form-control" id="input-tags" cols="30" rows="3" aria-describedby="tags-help" placeholder="Optional." name="keywords">{{recipe.keywords}}</textarea>
              <small id="tags-help" class="text-muted">Each tag should be separated by a space.</small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group clearfix" style="min-height: 300px;">
              <label for="input-image">Image</label>
              <input type="file" id="input-image" class="form-control-file" name="display">
              <img id="img-preview" class="float-right img-thumbnail mt-2 bg-color-orange" src="{{recipe.picture_link}}">
            </div>
          </div>
        </div>
        <div class="mt-3 form-row justify-content-md-center">
          <button type="button" id="recipe-next" class="btn bg-cstm-green">Next</button>
        </div>
      </div>
      <div id="recipe-details" style="display:none;">
        <div class="form-row mt-4">
          <div class="col">
            <h5>Ingredients</h5>
            <div id="recipe-ingredients">
            </div>
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="button" id="recipe-ingredients-add" class="btn bg-cstm-green rounded-circle"><span class="fa fa-plus"></span></button>
              </div>
            </div>
            <hr class="mb-4">
            <h5>Steps</h5>
            <div id="recipe-steps">
            </div>
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="button" id="recipe-steps-add" class="btn bg-cstm-green rounded-circle"><span class="fa fa-plus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 form-row justify-content-md-center">
          <button type="button" id="recipe-back" class="btn mr-2 bg-cstm-orange">Back</button>
          <button type="submit" id="recipe-submit" class="btn ml-2 bg-cstm-green">{{header_text}}</button>
        </div>
      </div>
    </form>
  </div>
  <!-- TODO: add aria-describedby descriptors using small for accessibility -->
</main>

<script>
  var ingredients = [];
  var steps = [];
  var is_submitting = false;

  $(document).ready(function() {
    $("#recipe-next").click(function() {
      $("#recipe-main").removeClass("current").hide();
      $("#recipe-details").addClass("current").show();
    });

    $("#recipe-back").click(function() {
      $("#recipe-details").removeClass("current").hide();
      $("#recipe-main").addClass("current").show();
    });

    function addIngredient(ingredient) {
      var next = ingredients.length + 1;
      var html = '<div class="form-group row">';
      html += '<label for="ingredient-' + next + '" class="col-sm col-form-label">' + next + '. </label>';
      html += '<div class="col-sm-9">';
      html += '<input type="text" class="form-control" name="ingredient-' + next + '" id="ingredient-' + next + '" value="' + (ingredient || '') + '">';
      html += '</div>';
      html += '<div class="col-sm">';
      html += '<button type="button" class="recipe-ingredients-remove btn bg-cstm-green rounded-circle">-</button>';
      html += '</div>';
      html += '</div>';
      ingredients.push('ingredient-' + next);
      $("#recipe-ingredients").append(html);
    }

    function addStep(step) {
      var next = steps.length + 1;
      var html = '<div class="form-group row">';
      html += '<label for="step-' + next + '" class="col-sm col-form-label">' + next + '. </label>';
      html += '<div class="col-sm-9">';
      html += '<textarea class="form-control" name="step-' + next + '" id="step-' + next + '" cols="60" rows="3">' + (step || '') + '</textarea>';
      html += '</div>';
      html += '<div class="col-sm">';
      html += '<button type="button" class="recipe-steps-remove btn bg-cstm-green rounded-circle">-</button>';
      html += '</div>';
      html += '</div>';
      steps.push('step-' + next);
      $("#recipe-steps").append(html);
    }

    $("#recipe-ingredients").on("click", ".recipe-ingredients-remove", function() {
      var root = $(this).parent().parent();
      var child = root.children("label");
      var text = child.text();
      var number = Number(text.substr(0, text.indexOf(".")));

      root.remove();

      ingredients.splice(number - 1, 1);
      for (var i = number - 1; i < ingredients.length; i++) {
        var id = ingredients[i];
        var label = $('label[for="' + id + '"]');
        var text = $('#' + id);

        var newId = 'ingredient-' + (i + 1);
        ingredients[i] = newId;
        label.attr('for', newId);
        label.text((i + 1) + '. ');
        text.attr('id', newId);
        text.attr('name', newId);
      }
    });

    $("#recipe-steps").on("click", ".recipe-steps-remove", function() {
      var root = $(this).parent().parent();
      var child = root.children("label");
      var text = child.text();
      var number = Number(text.substr(0, text.indexOf(".")));

      root.remove();

      steps.splice(number - 1, 1);
      for (var i = number - 1; i < steps.length; i++) {
        var id = steps[i];
        var label = $('label[for="' + id + '"]');
        var text = $('#' + id);

        var newId = 'step-' + (i + 1);
        steps[i] = newId;
        label.attr('for', newId);
        label.text((i + 1) + '. ');
        text.attr('id', newId);
        text.attr('name', newId);
      }
    });

    $("#recipe-ingredients-add").click(function() {
      addIngredient();
    });
    
    $("#recipe-steps-add").click(function() {
      addStep();
    });

    {{#if recipe.ingredients}}
      {{#each recipe.ingredients}}
        addIngredient({{{stringify .}}})
      {{/each}}
    {{else}}
    addIngredient();
    {{/if}}

    {{#if recipe.steps}}
      {{#each recipe.steps}}
        addStep({{{stringify .}}})
      {{/each}}
    {{else}}
    addStep();
    {{/if}}

    $("#input-image").change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(image) {
          $("#img-preview").attr("src", image.target.result);
          $("#img-preview").show();
        };
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#recipe-form").submit(function() {
      if (is_submitting) return false;
      is_submitting = true;
      $("#recipe-submit").attr('disabled', 'true');

      var recipeId = $("#recipe-id").text();
      var postLink = recipeId ? ('/recipe/' + recipeId + '/edit') : '/recipe/new';
      
      var formData = new FormData();
      formData.append('name', $('#input-recipe-name').val());
      formData.append('servings', $('#input-servings').val());
      formData.append('description', $('#input-description').val());
      formData.append('keywords', $('#input-tags').val());
      formData.append('ingredient_count', ingredients.length);
      for (var i = 0; i < ingredients.length; i++) {
        formData.append(ingredients[i], $('#' + ingredients[i]).val());
      }
      formData.append('step_count', steps.length);
      for (var i = 0; i < steps.length; i++) {
        formData.append(steps[i], $('#' + steps[i]).val());
      }

      if ($('#input-image')[0].files && $('#input-image')[0].files.length > 0) {
        formData.append('display', $('#input-image')[0].files[0]);
      }

      $.ajax({
        cache: false,
        contentType: false,
        data: formData,
        processData: false,
        type: 'POST',
        url: postLink,
        success: function(data, status, res) {
          window.location.href = '/recipe/' + data.id;
          $("#recipe-submit").attr('disabled', 'false');
          is_submitting = false;
        },
        error: function(data, status, res) {
          $("#recipe-submit").attr('disabled', 'false');
          is_submitting = false;
        }
      });

      return false; // use the ajax instead of submitting directly
    });
  });
</script>
