<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-7 p-4 rounded bg-cstm-green-lightest"style="height:400px">
        <h2 id="profile-name">{{profile.display}}</h2>
        {{#if profile.bio}}
          <h4 class="h-75 lead" id="profile-description">{{profile.bio}}</h4>
        {{/if}}
        <small id="join-date" class="align-self-end">Joined on {{profile.join_date}}</small>
      </div>
      <div class="col-5">
        <img id="profile-image" class="rounded img-fluid" src="{{profile.picture_link}}">
      </div>
    </div>
    <div class="row">
      <h2>{{recipe_title}}</h2>
      {{> recipes uploaded_recipes }}
    </div>
    <div class="row">
      <h2>Likes</h2>
      {{> recipes liked_recipes }}
    </div>
    <div class="row">
      <h2 class="mt-2">Comments</h2>
      <div class="recipe-cards p-2">
        <div class="row mt-4">
          <div class="card-deck">
            <div class="row p-1">
              <div class="col-3">
                <div class="recipe-card card text-center">
                  <img class="card-img-top" src="/img/anthony-rosset-5vDeo9GVpdw-unsplash.jpg" alt="Ice Cream Bread (Photo by Anthony Rosset on Unsplash)">
                  <div class="card-body bg-cstm-green-lighter">
                    <h6 class="card-title">Ice Cream Bread</h6>
                  </div>
                </div>
              </div>
              <div class="col p-4 rounded bg-cstm-orange-lighter">
                <h4 class="lead" id="input-recipe-name">I will try to make more recipes in the future!!</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-cstm-orange-darkest text-light ml-auto mr-auto mt-4 d-block">Show more</button>
    </div>
  </div>
  <!-- TODO: add aria-describedby descriptors using small for accessibility -->
</main>
