<main>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col col-sm-7 bg-cstm-green-lightest">
        <h1><strong>Ramen and Egg</strong></h1>
        <div id="profile-area">
          <a href="#" class="no-hover">
            <img id="profile-img" class="rounded-circle" src="/img/Faces/stephen-smithgall-vhQZXB5nL3o-unsplash.jpg">
            <span id="profile-name" class="ml-1 text-dark">Shane Fisher</span>
          </a>
        </div>
        <div id="recipe-area" class="h-50 mt-5">
          <h2 id="servings"><em>Servings:</em></h2>
          <h4 id="servings-number"><em>2</em></h4>
        </div>
        <div id="recipe-interactions" class="my-3">
          <h5 class="float-left">0 likes</h5>
          <h5 class="float-right">
            <span id="registered-like" style="display:none;"><a href="#" class="text-dark">Like this recipe!</a></span>
            <span id="unregistered-like" style="display:none;">Register to like recipes!</span>
          </h5>
        </div>
      </div>
      <div class="col col-sm-4 bg-cstm-orange">
        <img src="/img/michele-blackwell-rAyCBQTH7ws-unsplash.jpg" class="rounded img-fluid">
      </div>
    </div>
    <div class="row bg-cstm-green-lightest rounded my-3 p-2">
      <div class="col">
        <h1 id="description-header"><strong>Description</strong></h1>
        <h3 id="description">This is delicious.</h3>
      </div>
    </div>
    <div class="row bg-cstm-green-lightest rounded my-3 p-2">
      <div class="col">
        <h1 id="ingredients-header"><strong>Ingredients</strong></h1>
        <div id="ingredients">
          2 large eggs<br>
          A cup of water<br>
          4 cups chicken broth<br>
          2 packs instant ramen<br>
          4 oz. peeled and deveined shrimp<br>
          4 oz. white mushrooms, sliced into halves<br>
          2-3 tablespoons sriracha or to taste<br>
          1 teaspoon sesame oil<br>
          2 tablespoons chopped scallion<br>
          salt to taste<br>
          1 tablespoon lime juice, (optional)<br>
        </div>
      </div>
    </div>
    <div class="row bg-cstm-green-lightest rounded my-3 p-2">
      <div class="col">
        <h1 id="steps-header"><strong>Steps</strong></h1>
        <div id="steps">
          1. Place your eggs in a pot and add cold water. Make sure the water covers the eggs. Bring to a boil over high heat. Remove from the heat and set aside for 6 minutes. Rinse the eggs in cold water, peel off the shell and slice the eggs into halves. Set aside.<br>
          2. Heat up the pot and add the chicken broth. Bring it to boil. Add the ramen and cook. When the ramen is about half done, add the shrimp, mushroom, Sriracha and sesame oil. Add the chopped scallion, salt and lime juice. Stir well and serve immediately.<br>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 id="comments-header">Comments:</h1>
      <div id="comments">
        {{!-- {{#each comment}}
          <div class="row bg-cstm-orange-lighter my-2 p-2" id="{{id}}">
            <div class="col-2">
              <div>
                <a href="../{{id}}">{{name}}</a>
              </div>
              <a href="../{{id}}">
                <img class="rounded img-fluid" id="profile-img-{{id}}" src="img/users/{{profile-img-link}}" width="100" length="100">
              </a>
            </div>
            <div class="col-10">
              <span class="float-right">{{date-time}}</span>
              <div class="mb-3 mt-4" style="min-height: 100px;">
                {{content}}
              </div>
            </div>
            <button type="button" class="btn float-right border-0 bg-cstm-orange">
              <span style="font-style: 12px;" class="fa fa-minus">Report Comment</span>
            </button>
          </div>
        {{/each}} --}}
        <div id="comment-1" class="row bg-cstm-orange-lighter my-2 p-2">
          <div class="col-2">
            <div>
              <a href="../profile/profile3.html">Profile</a>
            </div>
            <a href="../profile/profile3.html">
              <img id="profile-img-1" src="/img/faces/conor-obrien-nKZuhvCGGQU-unsplash.jpg" class="rounded img-fluid" width="100" length="100">
            </a>
          </div>
          <div class="col-10">
            <span class="float-right">Example time/date</span>
            <div class="mb-3 mt-4" style="min-height: 100px;">
              Short comment.
            </div>
            <button type="button" class="btn float-right border-0 bg-cstm-orange"><span style="font-size: 12px;" class="fa fa-minus"></span> Report Comment</button>
          </div>
        </div>
        <div id="comment-2" class="row bg-cstm-orange-lighter my-2 p-2">
          <div class="col-2">
            <div>
              <a href="../profile/profile2.html">Profile</a>
            </div>
            <a href="../profile/profile2.html">
              <img id="profile-img-1" src="/img/faces/igor-rand-Af9YhuGE7Qs-unsplash.jpg" class="rounded img-fluid" width="100" length="100">
            </a>
          </div>
          <div class="col-10">
            <span class="float-right">Example time/date</span>
            <div class="mb-3 mt-4" style="min-height: 100px;">
              Very very long comment. Almost too long. Can't imagine a comment being this long. Very very long comment. Almost too long. Can't imagine a comment being this long. 
              Very very long comment. Almost too long. Can't imagine a comment being this long. Very very long comment. Almost too long. Can't imagine a comment being this long. 
              Very very long comment. Almost too long. Can't imagine a comment being this long. Very very long comment. Almost too long. Can't imagine a comment being this long. 
              Very very long comment. Almost too long. Can't imagine a comment being this long. Very very long comment. Almost too long. Can't imagine a comment being this long. 
              Very very long comment. Almost too long. Can't imagine a comment being this long. Very very long comment. Almost too long. Can't imagine a comment being this long. 
              Very very long comment. Almost too long. Can't imagine a comment being this long. Very very long comment. Almost too long. Can't imagine a comment being this long. 
            </div>
            <button type="button" class="btn float-right border-0 bg-cstm-orange"><span style="font-size: 12px;" class="fa fa-minus"></span> Report Comment</button>
          </div>
        </div>
      </div>
    </div>
</main>